/* 
=================================================
Imports
================================================= 
*/
@use './functions' as f;

/* 
=================================================
Container Widths & Breakpoints
================================================= 
*/
// Mobile First Breakpoints
$min-widths: (
	sm: f.prem(640),
	md: f.prem(768),
	lg: f.prem(1024),
	xl: f.prem(1280),
	xxl: f.prem(1536)
);

// Container Max Widths
$max-widths: (
	sm: f.prem(640),
	md: f.prem(768),
	lg: f.prem(1024),
	xl: f.prem(1280),
	xxl: f.prem(1536)
);
